

/* ---------------------------------- styling info for curtain menu for soundpage---------------------------------- */

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.97);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    font-family: 'Prata', serif;
    margin-top: 0px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    font-family: 'Prata', serif;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #c146ff;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }




  /* - ------------------------------ Fade in for menu -------------------------------------------------- */
  .fade-in-for-menu
  {-webkit-animation:fade-in 1.7s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.7s cubic-bezier(.39,.575,.565,1.000) both}


@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

/* ---------------------------------------------------------------------------------------------------------- */



.h2{
  font-size: 90px;
  font-family: 'Prata', serif;
}



/* --------------------------------------- styling for photos (earcons and foley) that link to sound pages --------------------------------- */


.photos-links{
  margin-left: 43%;
  margin-top: -49%;

  
}



.earcons:hover{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}



.foley:hover{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/* ----------------------------------------------------------------------------------------------------------------------- */






.fade-in{-webkit-animation:fade-in 1.7s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.7s cubic-bezier(.39,.575,.565,1.000) both}

 @-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}


