
/* @import url("https://fonts.googleapis.com/css?family=Lobster&display=swap")
  {repeat scroll 0 0 rgba(0, 0, 0, 0);} */

body {
  background: #fff;
}


/*------------Styling information----------------*/

:root{
  --col01:#0f0e0f;
  --col02: #c95eff; 
  --col-03: #2937ff; 
  --col-04: #fefcff;
  font-family: 'Prata', serif;
}



.title {
  font-size: 2.5rem;
  font-family: "Lobster", cursive;
}

.wrapper {
  animation: scroll 100s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"),
    #111111;
  color: #eee;
  height: 100vh;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

@keyframes scroll {
  100% {
    background-position: 0px -400%;
  }
}



/* Fallback if the operatring system prefers reduced motion*/
@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 800s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}





body{
  background-color: var(--col-04);
}

.background{
  animation:  2s;
}

h4{
  text-align: center;
  font-style: italic;
  color: var(--col-04);
  padding: 2%;
}

.logo{
    margin-top: -4%;
    margin-left: 2%;
    width: 450px;
    height: 450px;
    animation: none;
    }
    

  /* menu icon */
  #box1{
    z-index: auto;
    display: grid;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--col02);
    border: none;
    margin: 2%;
    animation: scale-up-logo 1.5s;
  }
  #box1:hover{
    display: hidden;
    border-color: var(--col-0);
  }

#box2{
  z-index: 1;
  display: grid;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 1px var(--col-04);
  border-style: double;
  margin: 1%;
  animation: scale-up-logo 2s linear;
}

#box2:hover{
  display: hidden;
  border-color: var(--col-04);
}

#hovermenu{
  display: hidden;
  margin-left: -400px;
}

#hovermenu:hover{
  z-index: 2;
  display: block;
  position: absolute;
  margin: 1.5%;
  background-color: var(--col01);
  border: solid 2px var(--col01);
  width: 50px;
  height: 50px;
  margin-left: -400px;
}


/* for purple box 1 */
@keyframes fade-in-background{
0%{
  opacity: 0%;
}
30%{
  opacity: 30%;
}
60%{
  opacity: 70%;
}
100%{
  opacity: 100%;
}
}


/* for transparent box 2 */
@keyframes scale-up-logo{
  0%{
    width: 0px;
    height: 0px;
  }
  30%{
    width: 15px;
    height: 15px;
  }
  60%{
    width: 30px;
    height: 30px;
  }
  100%{
    width: 50px;
    height: 50px;
  }
}


/*-------------------------------------------- ANIMATION {{SCALE}} IN FOR BACKGROUND (logo) ---------------------------------------- */

  .scale-in-center {
	-webkit-animation: scale-in-center 1.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 1.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  


  /* CURTAIN MENUN STYLING INFO TAKEN FROM HTML */
    
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--col01);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    font-family: 'Prata', serif;
    margin-top: 0px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 28px;
    font-family: 'Prata', serif;
    color: #fcf6ff;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #c146ff;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }


  