html{
    background-color: var(--col05);    
    }
    
    *{
        box-sizing: border-box;
        margin: 0;
        /* cursor: ; */
    }




    /* This colour palette contains the same shades of colours I used in Adobe Illustrator to create the main visual assets. All colours are inspired by real devices I use to play with in my childhood ^^ */
    :root{
        --col01: #080808;
        --col02: #F8F7F9;
        --col03: #E100ED;
        --col04: #6404AF;
        --col05: #ebff3b;
        --col06: #5db1ff; 
    }
    
    h1{
    color: var(--col04);
    font-family: 'Pacifico', cursive; /* I chose this particular font family because it really resembles a vintage style font and I believe it really suits the context and aesthetics of the page. */
    font-weight: normal; 
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    }
    

 
    .container {
      display: flex;
      position: relative;
      width: 50%;
      max-width: 300px;
      margin-left: 6%;
    }

    
/* most of the visual elements shown in the painting are squares and circles, so I am reproducing them through css boxes, adapting their properties to make them look closer to the original painting.  */

.black-blue-circles{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
position: absolute;
margin-top: 35%;
}


#box1{
    display: grid;
    position: absolute; 
    z-index: 3;
    background-color: var(--col01);
    border: solid 6px var(--col06);
    border-radius: 50px;
    width: 70px;
    height: 70px;
    margin-top: 70px;
    margin-left: 70px;
}

#box2{
    display: grid;
    position: absolute; 
    z-index: 2;
    background-color: var(--col01);
    border: solid 8px var(--col04);
    border-radius: 100px;
    width: 110px;
    height: 110px;
    margin-top: 50px;
    margin-left: 50px;
}


#box3{
    display: grid;
    position: absolute; 
    z-index: 1;
    background-color: var(--col01);
    border: solid 8px var(--col02);
    border-radius: 100px;
    width: 200px;
    height: 200px;
    margin-top: 8px;
    margin-left: 8px;
}



/* large black circle below every other circle */
#box4{
display: grid;
position: absolute; 
z-index: auto;
background-color: var(--col01);
border: none;
width: 220px;
height: 220px;
border-radius: 120px;
}


/* 2 black, thin rectangles */

#box5{
display: grid;
position: absolute; 
z-index: auto;
background-color: var(--col01);
border: solid 1px var(--col01);
width: 3px;
height: 370px;
margin-top: 0%;
margin-left: 500px;
transform: rotate(-15deg);
}

#box6{
    display: grid;
    position: absolute; 
    z-index: auto;
    background-color: var(--col01);
    border: solid 1px var(--col01);
    width: 3px;
    height: 480px;
    margin-top: -0px;
    margin-left: 500px;
    transform: rotate(70deg);
    }
    

/* spheres rolling down */
#box7{
    display: grid;
    position: absolute; 
    z-index: 1;
    background-color: var(--col02);
    border: solid 8px var(--col03);
    border-radius: 100px;
    width: 75px;
    height: 75px;
    margin-top: 240px;
    margin-left: 447px;
}

#box8{
    display: grid;
    position: absolute; 
    z-index: auto;
    background-color: var(--col02);
    border: solid 8px var(--col01);
    border-radius: 100px;
    width: 75px;
    height: 75px;
    margin-top: 265px;
    margin-left: 367px;
}


#box9{
    display: grid;
    position: absolute; 
    z-index: auto;
    background-color: var(--col02);
    border: solid 8px var(--col06);
    border-radius: 100px;
    width: 75px;
    height: 75px;
    margin-top: 295px;
    margin-left: 285px;
}

/* small bouncing ball */
#box10{
    display: grid;
    position: absolute; 
    z-index: 1;
    background-color: var(--col06);
    border: solid 5px var(--col02);
    border-radius: 50px;
    width: 35px;
    height: 35px;
    margin-top: 85px;
    margin-left: 550px;
}


/* glass traingles */
#box11{
    z-index: 1;
    width: 0; 
    height: 0; 
    opacity: 40%;
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
    border-bottom: 195px solid var(--col04);
    transform: rotate(190deg);
    margin-top: 130px;
    margin-left: 680px;
}

#box12{
    z-index: 1;
    width: 0; 
    height: 0; 
    opacity: 40%;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid var(--col04);
    transform: rotate(10deg);
    margin-top: 48px;
    margin-left: -170px;
}

#box13{
    display: grid;
    position: absolute; 
    z-index: auto;
    background-color: var(--col06);
    opacity: 40%;
    border: solid 2px var(--col01);
    border-radius: 100px;
    width: 175px;
    height: 175px;
    margin-top: 25px;
    margin-left: 750px;
}


/* Coloured rectangle, below glass shapes */
#box14{
    display: grid;
    position: absolute; 
    z-index: auto;
    background-color: var(--col03);
    border: dashed 5px var(--col01);
    width: 3px;
    height: 400px;
    margin-top: 10%;
    margin-left: 730px;
    transform: rotate(60deg);
    }


/* first square on the right */
#box15{
    display: grid;
    position: absolute; 
    z-index: 1;
    background-color: var(--col03);
    border: solid 5px var(--col01);
    width: 35px;
    height: 35px;
    margin-top: 300px;
    margin-left: 900px;
}





/* pop up styling */

/* pop up number */
#popup-box{
    position: relative;
    display: inline-block;
    color: var(--col02);
    background-color: var(--col02);
    border: solid 4px var(--col04);
    border-radius: 30px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    font-family: 'Pacifico';
    font-size: 30px;
    font-weight: bolder;
    color: var(--col01);
    cursor: pointer;
    padding: 0px 20px; /* padding need around the numbers to leave some negative space between the numbers and border.  */
}
#popup-box:hover{
    background: var(--col03);
    color: var(--col02);
    box-shadow: var(--col01) 5px 5px 5px;
}


  /*  popup content */
  .popup .popuptext {
    visibility: hidden;
    width: 120px;
    height: fit-content;
    background-color: var(--col02);
    color: var(--col01);
    font-family: 'Pangolin', cursive;
    font-size: 16px;
    text-align: left;
    border-radius: 10px;
    padding: 28px 5px;
    position: absolute;
    z-index: 5;
    margin: 50%;
  
  }


/* hide and show effect  on mouse click*/
.popup .show {
    visibility: visible;
  }
  




  /* overlay effect */
 
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: var(--col01);
    opacity: 90%;
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    z-index: 5;
    position: relative;
    width: 90%;
    text-align: center;
    padding-left: 10%;
    margin-top: 80px;
  }

  p{
    font-family: 'Pangolin';
    font-size: 18px;
    text-align: left;
    color: var(--col02);

  }

.p1{
    font-family: 'Pangolin';
    font-size: 18px;
    text-align: right;
    color: var(--col02);
}
  .overlay .closebutton {
    z-index: 5;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: var(--col02);
  }
  
  .closebutton:hover{
color: var(--col03);
  }

  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }