
/* this interactive composition is inspired by Wassily Kandisky abstract art studies. I chose his artworks as a style 
and aesthetic reference, because I really appreciate how they open up to new worlds and possibilities. They are a great 
source of inspiration to create interactive audovisual compositions, as they have many affordances that I can animate and 
atrtibute sound to. Kandisky himself chose to use abstact geometrical shapes and lines to convey messages of human ideas,
emotions and reactions, as a means of universal language that goes beyond cultural boundaries. 
As this reference style is very abstract, I could recreate these shapes giving them new animations, sound, colours and 
movement to create a playful composition. 
https://www.theartstory.org/artist/kandinsky-wassily/#:~:text=He%20sought%20to%20convey%20profound,transcended%20cultural%20and%20physical%20boundaries. 
*/

html{
    background-color: var(--col05);    
    }
    
    *{
        box-sizing: border-box;

    }



    body {
        cursor: url(‘img/love-pixels.png’), auto;
  }
/* The colour palette is inspired by Kandisky art works, however is customised to better adapt to a web-browsed interface,
 ensure legibility and good contrast on the screen. */ 
    :root{
        --col01: #080808;
        --col02: #F8F7F9;
        --col03: #E100ED;
        --col04: #6404AF;
        --col05: #dfff2a;
    }
 
 /* The 2 font families I chose are Pacifico (for main headings) and Pangolin for text and paragraphs, as it is more legible. 
 Both these font families look informal and playful, so I believe they suit well the abstract and colourful composition.*/
    h1{
        font-family: 'Pacifico', cursive;
        text-align: center;
        color: var(--col03);
        text-decoration: none;
    }
p{
    font-family: 'Pangolin', cursive;
    font-style: italic;
    font-size: 12px;
    color: var(--col01);
    text-align: center;
}

   .button1{
        font-family: 'Pangolin', cursive;
        font-size: 14px;
        text-align: center;
        color: var(--col03);
        background-color: var(--col02);
        border: var(--col04) solid 2px;
        border-radius: 30px;
        width: 15%;
        margin-top: 3%;
        margin-left: 43%;
        box-shadow: var(--col04) 1px 7px 1px;
        text-decoration: none;
        cursor: pointer;
    }
    .button1:hover{
        background-image: linear-gradient(#E100ED, #F8F7F9);
        width: 15%;
        font-size: 14px;
        color: #F8F7F9;
        box-shadow: none;
        text-decoration: none;
    }

    p{
        margin-top: 2%;
    }

/* This is the image of Kandisky's artwork I chose as a main reference for my composition.*/
    .backgroundimg {
    display: flex;
    margin-left: 33%;
    margin-top: 5%; 
    }


/* pop up number */
#popup-box{
    position: relative;
    display: inline-block;
    color: var(--col02);
    background-color: var(--col02);
    border: solid 4px var(--col04);
    border-radius: 30px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    font-family: 'Pacifico';
    font-size: 30px;
    font-weight: bolder;
    color: var(--col01);
    cursor: pointer;
    padding: 0px 20px; /* padding need around the numbers to leave some negative space between the numbers and border.  */
}
#popup-box:hover{
    background: var(--col03);
    color: var(--col02);
    box-shadow: var(--col01) 5px 5px 5px;
}


  /*  popup content */
  .popup .popuptext {
    visibility: hidden;
    width: 30%;
    height: fit-content;
    background-color: var(--col02);
    color: var(--col03);
    font-family: 'Pangolin', cursive;
    font-size: 16px;
    text-align: left;
    border-radius: 10px;
    padding: 28px 5px;
    position: absolute;
    z-index: 1;
    margin: 50%;
  }


/* hide and show */
.popup .show {
    visibility: visible;
  }
  

.p1{
    font-family: 'Pangolin';
    font-size: 22px;
    color: var(--col01);
    text-align: center;
    padding: 10px;
}