html{
    background-color: var(--col02);    
    }
    
    *{
        box-sizing: border-box;
        margin: 0;
        /* cursor: ; */
    }



    body {
        cursor: url(‘img/’), auto;
  }



    /* This colour palette contains the same shades of colours I used in Adobe Illustrator to create the main visual assets. All colours are inspired by real devices I use to play with in my childhood ^^ */
    :root{
        --col01: #080808;
        --col02: #F8F7F9;
        --col03: #E100ED;
        --col04: #6404AF;
    }
    
    h1{
    color: var(--col03);
    font-family: 'Pacifico', cursive; /* I chose this particular font family because it really resembles a vintage style font and I believe it really suits the context and aesthetics of the page. */
    font-weight: normal; 
    font-size: 40px;
    text-align: center;
    }
    

    h3{
    font-family: 'Pangolin', cursive;
    font-weight: bolder;
    text-align: center;
    color: var(--col04);
    margin-top: 10%;
    border-style: dashed;
    }

 
    .container {
      display: grid;
      grid-template-columns: 1fr 1.1fr 0.9fr;
      column-width: 20%;
      column-gap: 5%;
      position: relative;
      width: 50%;
      max-width: 300px;
      margin-left: 6%;
    }
    


/* gameboy console code */

    .gameboy:hover{
    cursor: pointer;
    opacity: 50%;
    }

    .border-box{
    animation: img-rotate 2s;
    }

    .advance {
      display: flex;
      margin: 2%;
      margin-top: 25%;
      width: 500px;
      height: 300px;
    }
    
/* gameboy advance arrows */
    .overlay {
      position: absolute;
      bottom: 45%;
      padding-left: 18%;
      cursor: pointer;
    }
    .overlay:hover{
        display: none; 
    }
    
    


    /* mp3 code */

    .mp3-player{
        display: flex;
        margin: 30%;
        width: 200px;
        height: 360px;
        margin-top: 45%;
    }


    .mp3:hover{
        cursor: pointer;
        opacity: 50%;
    }
  
    
    .mp3-play-button{
        position: absolute;
        margin-left: 32%;
        bottom: 25%;
        cursor: pointer;
    }

    .mp3-heading{
        margin-right: -30%;
        margin-left: 15%;
    }
    



    /* qtek phone */
    .closed-phone{
       display: flex;
        margin-left: 40%;
        margin-top: 40%;
        cursor: pointer;
        width: 200px;
        height: 330px;
        animation: device-rotate 3s;
    }
    

    .phone:hover{
        cursor: pointer;
        opacity: 50%;
    }
    

    .phone-heading{
        margin-left: -20%;
    }

    /* animation used to rotate each device on mouse click */
    @keyframes img-rotate {
        0% {
        transform: rotateY(0deg)
        }
        100% {
        transform: rotateY(360deg);
        }
      }

