
/* I wanteed the overall home/loading page to feel like the interface of a Nintendo videogame homescreen, a kind of cartoonish style very popular in the late 2000s. Therefore the UI looks colourful, cartoonish, images have rounded corners, coloured and solid borderd and defined lines. */

html{
    background-color: var(--col05);    
    }
    
    *{
        box-sizing: border-box;

    }



    body {
        cursor: url(‘img/love-pixels.png’), auto;
  }



    /* This colour palette contains the same shades of colours I used in Adobe Illustrator to create the main visual assets. All colours are inspired by real devices I use to play with in my childhood ^^ 
    Together with the background music, the style of the buttons and the logo, the aesthetics of the homepage allow users to be immersed in the cartoonish and gaming-like vibe of the page from the very start. Overall, I tried my best to design the Ui of this page to look like a vintage videogame menu/settings page. 
*/
    
    :root{
        --col01: #080808;
        --col02: #F8F7F9;
        --col03: #E100ED;
        --col04: #6404AF;
        --col05: #dfff2a;
    }
 

    h1{
        font-family: 'Pacifico', cursive;
        text-align: center;
        color: var(--col03);
        text-decoration: none;
    }


p{
    font-family: 'Pangolin', cursive;
    font-style: italic;
    font-size: 12px;
    color: var(--col01);
    text-align: center;
}

/* I wanted to style this button to make it look more like a videogame menu button: wide, low value for the height so thta it appears long and thin; coloured and orunded border; vibrant colours; bright colour on hover, to make contrast with the white text. Reference and inspiration: https://www.dreamstime.com/collection-vector-buttons-mobile-games-image185347689  */
    .button1{
        font-family: 'Pangolin', cursive;
        font-size: 14px;
        text-align: center;
        color: var(--col03);
        background-color: var(--col02);
        border: var(--col04) solid 2px;
        border-radius: 30px;
        width: 15%;
        margin-top: 3%;
        margin-left: 43%;
        box-shadow: var(--col04) 1px 7px 1px;
        text-decoration: none;
        cursor: pointer;
    }
    .button1:hover{
        background-image: linear-gradient(#E100ED, #F8F7F9);
        width: 15%;
        font-size: 14px;
        color: #F8F7F9;
        box-shadow: none;
        text-decoration: none;
    }

    p{
        margin-top: 2%;
    }

/* fade out background animation */
    .backgroundimg {
    display: flex;
    margin-left: 33%;
    margin-top: 5%; 
    }


/* pop up number */
#popup-box{
    position: relative;
    display: inline-block;
    color: var(--col02);
    background-color: var(--col02);
    border: solid 4px var(--col04);
    border-radius: 30px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    font-family: 'Pacifico';
    font-size: 30px;
    font-weight: bolder;
    color: var(--col01);
    cursor: pointer;
    padding: 0px 20px; /* padding need around the numbers to leave some negative space between the numbers and border.  */
}
#popup-box:hover{
    background: var(--col03);
    color: var(--col02);
    box-shadow: var(--col01) 5px 5px 5px;
}


  /*  popup content */
  .popup .popuptext {
    visibility: hidden;
    width: 30%;
    height: fit-content;
    background-color: var(--col02);
    color: var(--col03);
    font-family: 'Pangolin', cursive;
    font-size: 16px;
    text-align: left;
    border-radius: 10px;
    padding: 28px 5px;
    position: absolute;
    z-index: 1;
    margin: 50%;
  }


/* hide and show */
.popup .show {
    visibility: visible;
  }
  

.p1{
    font-family: 'Pangolin';
    font-size: 22px;
    color: var(--col01);
    text-align: center;
    padding: 10px;
}